body {
    min-height: 100vh;
    background: #BDB76B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#result, #finalResult {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; 
}
#container {
    display: flex;
    gap: 100px;
}
#scoreBoard1, #scoreBoard2 {
    border-radius: 10px;
    border: 3px solid black;
    width: 150px;
    height: 100px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}
.scoreBoard {
    
    
}

#result {
    margin-bottom: 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#finalResult  {
    border-radius: 10px;
    background: #800000;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

button {
    border: 3px solid black;
    border-radius: 5px;
    background: #556b2f;
    color: white;
    font-weight: bold;
    font-size: 40px;
    align-self: center;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
